.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding: 16px;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity)) /* #1f2937 */;
}

.navContainer{
    display: flex;
    justify-content: space-evenly;
}

.linkContainer{
    display: flex;
}

.links{
    color:white;
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
    margin-left: 1rem /* 16px */;
    margin-right: 1rem /* 16px */;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-decoration: none;
}
.links:hover{
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity)) /* #3b82f6 */;
}
  